.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
  gap: 10px;
}

.loader {
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 1.5s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 1px 1px 0 #fff inset,
      0 3px 5px 0 #ff5f9f inset,
      0 4px 4px 0 #0693ff inset;
  }
  50% {
    transform: rotate(270deg);
    background: #7c0911;
    box-shadow:
      0 1px 1px 0 #fff inset,
      0 3px 5px 0 #d60a47 inset,
      0 4px 4px 0 #fbef19 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 1px 1px 0 #fff inset,
      0 3px 5px 0 #ff5f9f inset,
      0 4px 4px 0 #28a9ff inset;
  }
}

.letter-wrapper {
  display: flex;
  gap: 1px;
}

.loader-letter {
  display: inline-block;
  opacity: 0.4;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
}

@keyframes loader-letter-anim {
  0%, 100% {
    opacity: 0.4;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}
